@import "tailwindcss";

:root {
  --background: #d9d9d9;
}

@theme inline {
  --font-base: var(--font-base);
  --color-blood: rgb(192, 25, 25);
  --color-background: var(--background);
}

body {
  background: var(--background);
}

::selection {
  background-color: var(--color-blood);
}
