@import "tailwindcss";

@theme inline {
  --font-base: var(--font-base);
  --color-background: #d9d9d9;
  --color-blood: #c01919;
}

body {
  background: var(--color-background);
}

::selection {
  background-color: var(--color-blood);
}

a:hover {
  color: var(--color-blood);
}

code {
  font-family: monospace;
}
