@import "tailwindcss";

:root {
  --background: #d9d9d9;
}

@theme inline {
  --font-base: var(--font-base);
  --color-burgundy: #412e2e;
  --color-dusk: #9f9f9f;
  --color-mud: #575454;
}

body {
  background: var(--background);
  color: var(--foreground);
}
