@import "tailwindcss";
:root {
  --background: #d9d9d9;
}

@theme inline {
  --font-base: var(--font-base);
  --color-background: var(--background);
  --color-blood: rgba(192, 25, 25, 0.7);
}

body {
  background: var(--background);
}

::selection {
  background-color: rgba(192, 25, 25, 0.9);
}

a {
  text-decoration: underline;
}

code {
  font-family: monospace;
}
