/* General */

html {
  background-color: #272727;
  color: #e5a3a3;
  font-size: 1.75rem;
  height: 100%;
  margin: 0px;
}

a {
  color: #f7f0e9;
}

/* Index */
/* Contact page */

.index,
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 99vh;
  width: 100%;
  transform: translateY(-10vh);
}

.contact .text {
  margin-top: 2em;
}

header {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.index .text {
  max-width: 40rem;
  margin-bottom: 1.5em;
}

/* Posts */

.container-for-my-posts {
  min-height: 90vh;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  .container-for-my-posts header {
    gap: 0.5em;
  }
}

#my-precious-posts {
  width: 40vw;
  margin-top: 3rem;
  list-style-type: none;
}

#my-precious-posts li {
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  #my-precious-posts {
    width: 70vw;
  }
}

@media (max-width: 550px) {
  #my-precious-posts {
    width: 90vw;
  }
}

#my-precious-posts i {
  margin-bottom: 1rem;
}

/* Page */

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container header {
  margin-top: 2rem;
}

.post-container .text {
  width: 100%;
  max-width: 35rem;
  text-align: left;
  margin-top: 3em;
}
