<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="{% block description %}{% endblock description %}"
    />
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    <title>{% block title %}{% endblock title %} | isgin01's blog</title>
    <link href="{{ get_url(path='main.css') }}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href='{{ get_url(path="favicon.ico")}}' />
  </head>
  <body>
    {% block content %}{% endblock content %}
  </body>
</html>
