{% extends '_base.html' %} 

{% block description %}
  {{ section.description }}
{% endblock description %}

{% block title %}
  {{ section.title }}
{% endblock title %}

{% block content %}
  <div class="index">
    <div>
      <div class="text">
        {{ section.content | safe}}
      </div>
      <header>
        <a href="{{ get_url(path='@/contact/_index.md')}}">contact</a> 
        <a href="{{ get_url(path='@/notes/_index.md')}}">read my notes</a>
      </header>

    </div>
  </div>
{% endblock content %}
