{% extends '_base.html' %} 

{% block description %}
  A (short) post from my blog. Read to gain insights. Or don't.
{% endblock description %}

{% block title %}
  {{ page.title }}
{% endblock title %}

{% block content %}
<div class="post-container">
  <header>
    <span>"{{ page.title }}"</span>
    <span>isgin01</span>
    <span>{{ page.date }}</span>
    <a href="{{get_url(path='@/_index.md')}}">homepage</a>
    <a href="{{get_url(path='@/posts/_index.md')}}">other posts</a>
  </header>
  <div class="text">
    {{ page.content | safe }}
  </div>
  <div class="comments">
    <script src="https://giscus.app/client.js"
        data-repo="isgin01/isgin01.github.io"
        data-repo-id="R_kgDOQdhr_Q"
        data-category="Announcements"
        data-category-id="DIC_kwDOQdhr_c4C_Po_"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="noborder_dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
    </script>
  </div>
</div>
{% endblock content %}
